<html class="no-js" lang="en">

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <style>
        body {
            width: 100%;
            height: 100vh;
            background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 1)), url('./bg1.jpg');
            background-size: cover;
            background-position: center;
        }

        .container {
            max-width: 550px;
        }

        .has-error label,
        .has-error input,
        .has-error textarea {
            color: red;
            border-color: red;
        }

        .list-unstyled li {
            font-size: 13px;
            padding: 4px 0 0;
            color: red;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <h5 class="card-header text-center">Create session for: <%= title %></h5>
            <div class="card-body">
                <form action="/create_session" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <h3>
                        <% if(messages && messages.error && messages.error.length> 0) { %>
                            <% for(var i=0; i<messages.error.length; i++) { %>
                                <p class="bg-red-200 my-3 list-none rounded px-4 py-2">
                                    <%= messages.error[i] %>
                                </p>
                                <% } %>
                                    <% } %>
                    </h3>
                    <div class="form-group">
                        <label>Where will this session be played</label>
                        <input type="text" name="match_desc" class="form-control" placeholder="Enter Address">
                        <!-- Error -->
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>When will this sport session will be held?</label>
                        <input type="date" class="form-control" name="match_date" placeholder="Enter date">
                        <!-- Error -->
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>Which time the session should be start? (hh:mm AM/PM)</label>
                        <input type="text" pattern="([0-2]{1}[0-9]{1}:[0-6]{1}[0-9] ([A]{1}[M]{1}|[P]{1}|[M]{1}))" name="match_time" class="form-control" placeholder="Enter time for above format" required>
                        <!-- Error -->
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label>How many more players do you need?</label>
                        <div class="form-group">
                            <input type="number" data-minlength="4" class="form-control" min="1" max="30"
                                name="no_player" placeholder="How many players?" />
                            <!-- Error -->
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Create Session</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-danger btn-block" onclick="window.location.href='/all_session/:<%=sports_id%>/:<%= title%>'">Back</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
