<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet" />
    <title>Document</title>
    <style>
        .session_contain{
            width: 90%;
            overflow-y: scroll;
            max-height: 470px;
            flex: 30.33%;
            background: rosybrown;
            align-items: center;
            text-align: center;
            border: 1px solid black;
            overflow-wrap: break-word;
        }
        .one_session{
            width: 30%;
            height: 30px;
            border-radius: 3px;
            padding: 12px;
            margin-right: -10px;
            border: 1px solid black;
            padding-top: 6px;
            overflow-wrap: break-word;
            display: flex;
        }
        .one_session p{
            font-weight: 600;
            font-size: 20px;
            font-family: 'fantasy;
            margin-top: -3px;
        }
        .need_players{
            padding-left: 40px;
        }
        </style>
</head>
<body>
    <h1>Today's session</h1>
    <div>
        <% for(var i=0; i < today.length; i++) { %>
            <div class="grid grid-cols-3">
                <div class="session_contain">
                <div class="one_session">
                    <a href="/session_des/:<%= today[i].id %>"><% if(today[i].add_player==today[i].total_players-1){ %>
                        <div>
                        <p><%= today[i].session_date %> <%= today[i].time %> <span style="color: rgb(252, 0, 0);margin-left: 10px;">Last</span></p>
                        </div>
                   <% }else{%>
                    <p><%= today[i].session_date %> <%= today[i].time %></p></a><p class="need_players"><%= today[i].total_players - today[i].add_player %> Slot</p><%}%>
                </div>
                </div>
                    </div>
                    <% } %>
    </div>
    <div>
        <h1>comming session</h1>
        <% for(var i=0; i < late.length; i++) { %>
            <div class="grid grid-cols-3">
                <div class="session_contain">
                <div class="one_session">
                    <a href="/session_des/:<%= late[i].id %>"><% if(late[i].add_player==late[i].total_players-1){ %>
                        <div>
                        <p><%= late[i].session_date %> <%= late[i].time %> <span style="color: rgb(252, 0, 0);margin-left: 10px;">Last</span></p>
                        </div>
                   <% }else{%>
                    <p><%= late[i].session_date %> <%= late[i].time %></p></a><p class="need_players"><%= late[i].total_players - late[i].add_player %> Slot</p><%}%>
                </div>
                </div>
                    </div>
                    <% } %>
    </div>
    <div>
        <h1>post session</h1>
        <% for(var i=0; i < post.length; i++) { %>
            <div class="grid grid-cols-3">
                <div class="session_contain">
                <div class="one_session">
                    <a href="/session_des/:<%= post[i].id %>"><% if(post[i].add_player==post[i].total_players-1){ %>
                        <div>
                        <p><%= post[i].session_date %> <%= post[i].time %> <span style="color: rgb(252, 0, 0);margin-left: 10px;">Last</span></p>
                        </div>
                   <% }else{%>
                    <p><%= post[i].session_date %> <%= post[i].time %></p></a><p class="need_players"><%= post[i].total_players - post[i].add_player %> Slot</p><%}%>
                </div>
                </div>
                    </div>
                    <% } %>
    </div>
</body>
</html>
 -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sports Play</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  <style>
    section {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .card {
      width: 80%;
      height: 20vh;
      display: flex;
      flex-direction: row;
      background: rgba(219, 235, 218, 1);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      margin-bottom: 50px;
    }
    .card:hover {
      box-shadow: 0px 7px 7px rgb(255, 255, 255);
      cursor: pointer;
      transition: 0.3;
    }
    #btnOne {
      position: absolute;
      left: 78%;
      top: 40%;
    }
    #btnTwo {
      position: absolute;
      left: 88%;
      top: 40%;
    }
    .cardContainer {
      display: flex;
      width: 40%;
      border-radius: 30px 105.5px 0px 30px;
      height: 20vh;
      align-items: center;
      background: #f5f5f5;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      justify-content: center;
    }
    .cardContainer p {
      font-family: fantasy;
      font-style: normal;
      font-size: 30px;
      font-weight: 500;
      color: #745a5a;
      line-height: 52px;
      text-align: center !important;
    }
    .card button {
      width: 9%;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
    }
    #createSportBtn {
      background: rgba(79, 150, 234, 1);
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      width: 15%;
      font-weight: bold;
      color: white;
      height: 8vh;
      font-size: 20px;
      border: none;
    }
    #createSportBtn:hover {
      background-color: rgb(0, 114, 253);
    }
    body {
      background: PowderBlue;
    }
    .grid {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      width: 100%;
      height: 100%;
      margin: 1px;
      padding-right: 2px;
      justify-content: center;
    }
    .one {
      display: flex;
      flex-direction: row;
      width: 95%;
      border-radius: 8px;
      background-color: rgb(183, 250, 178);
      height: 10vh;
      margin: 10px;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    }
    .cardOne {
      width: 70%;
      height: 10vh;
      background-color: #f5f5f5;
      border-radius: 7px 105px 0px 7px;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    }
    #sportsNav {
      display: inline-flex;
      color: white;
    }
    #sportsNav li {
      list-style: none;
      margin-left: 16px;
      padding: 6px;
      cursor: pointer;
    }
    #sportsNav li:hover {
      background-color: white;
      border-radius: 25px;
      color: black;
      font-weight: bold;
      transition: 0.6s;
    }
    #sportsNav li a {
      text-decoration: none;
    }
  </style>
</head>

<body>

  <div>
    <nav class="navbar" style="background-color: black; position: sticky">
      <div class="container-fluid">
        <a href="/" class="navbar-brand fw-bold" style="color: RosyBrown">Sports Play</a>
        <ul id="sportsNav">
          <li onclick="window.location.href='/'">Sign Out</li>
        </ul>
      </div>
    </nav>
    <section>
      <p style="width: 97%" class="fw-bold h3 text-white my-4">
        Active Sessions for
        <span style="font-family: cursive; color: RebeccaPurple">
          <%= title %> #<%= today.length %>
        </span>
      </p>
      <div class="grid">
        <% for(var i=0; i < today.length; i++) { %>
          <div class="one" onclick="window.location.href='/session_des/:<%= today[i].id %>'">
            <div class="cardOne h4 fw-bold" style="
              display: flex;
              cursor: pointer;
              text-align: center;
              align-items: center;
              justify-content: center;
              align-items: center;
              flex-direction: row;
            ">
              <% if(today[i].add_player==today[i].total_players-1){ %>
                <p style="padding: 5px; margin: 5px">
                  <%= today[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 18px;">@</span>
                    <%= today[i].time %>
                </p>
            </div>
            <p style="
                  font-size: 1.5vw;
                  font-weight: bold;
                  margin-top: 13px;
                  margin-left: 23px;
                  color: red;
                ">
              Last Slot
            </p>
            <%} else if((today[i].total_players - today[i].add_player)==0){%>
              <p style="padding: 5px; margin: 5px">
                <%= today[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 18px;">@</span>
                  <%= today[i].time %>
              </p>
          </div>
          <p style="
                  font-size: 1.5vw;
                  font-weight: bold;
                  margin-top: 11px;
                  margin-left: 23px;
                  color: red;
                ">
            Full Slot
          </p>
          <%}else{%>
            <p style="padding: 5px; margin: 5px">
              <%= today[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 18px;">@</span>
                <%= today[i].time %>
            </p>
      </div>
      <p style="
              font-size: 1.5vw;
              font-weight: bold;
              margin-top: 11px;
              margin-left: 23px;
            ">
        <%= today[i].total_players - today[i].add_player %> Slot
      </p>
      <%}%>
  </div>
  <%}%>
    </div>
    <p style="width: 97%" class="fw-bold h3 text-white my-4">
      Approaching Sessions for
      <span style="font-family: cursive; color: RebeccaPurple">
        <%= title %> #<%= late.length %>
      </span>
    </p>
    <div class="grid">
      <% for(var i=0; i < late.length; i++) { %>
        <div class="one" onclick="window.location.href='/session_des/:<%= late[i].id %>'">
          <div class="cardOne h4 fw-bold" style="
              display: flex;
              cursor: pointer;
              text-align: center;
              align-items: center;
              justify-content: center;
              align-items: center;
              flex-direction: row;
            ">
            <% if(late[i].add_player==late[i].total_players-1){ %>
              <p style="padding: 5px; margin: 5px">
                <%= late[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
                  <%= late[i].time %>
              </p>
          </div>
          <p style="
                  font-size: 1.5vw;
                  font-weight: bold;
                  margin-top: 11px;
                  margin-left: 23px;
                  color: red;
                ">
            Last Slot
          </p>
          <%} else if((late[i].total_players - late[i].add_player)==0){%>
            <p style="padding: 5px; margin: 5px">
              <%= late[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
                <%= late[i].time %>
            </p>
        </div>
        <p style="
                  font-size: 1.5vw;
                  font-weight: bold;
                  margin-top: 11px;
                  margin-left: 23px;
                  color: red;
                ">
          Full Slot
        </p>
        <%}else{%>
          <p style="padding: 5px; margin: 5px">
            <%= late[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
              <%= late[i].time %>
          </p>
    </div>
    <p style="
              font-size: 1.6vw;
              font-weight: bold;
              margin-top: 12px;
              margin-left: 25px;
            ">
      <%= late[i].total_players - late[i].add_player %> Slot
    </p>
    <%}%>
      </div>
      <%}%>
        </div>
        <p style="width: 97%; color: rgb(255, 9, 9)" class="fw-bold h3 my-4">
          Post Sessions for
          <span style="font-family: cursive; color: rgb(255, 255, 255)">
            <%= title %> #<%= post.length %>
          </span>
        </p>
        <div class="grid">
          <% for(var i=0; i < post.length; i++) { %>
            <div class="one" onclick="window.location.href='/session_des/:<%= post[i].id %>'">
              <div class="cardOne h4 fw-bold" style="
              display: flex;
        
              cursor: pointer;
              text-align: center;
              align-items: center;
              justify-content: center;
              align-items: center;
              flex-direction: row;
            ">
                <% if(post[i].add_player==post[i].total_players-1){ %>
                  <p style="padding: 5px; margin: 5px;text-decoration: line-through; color: red;">
                    <%= post[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
                      <%= post[i].time %>
                  </p>
              </div>
              <p style="
                  font-size: 1.5vw;
                  font-weight: bold;
                  margin-top: 11px;
                  margin-left: 23px;
                  color: red;
                ">
                Last Slot
              </p>
              <%} else if((post[i].total_players - post[i].add_player)==0){%>
                <p style="padding: 5px; margin: 5px;text-decoration: line-through; color: red;">
                  <%= post[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
                    <%= post[i].time %>
                </p>
            </div>
            <p style="
                  font-size: 1.6vw;
                  font-weight: bold;
                  margin-top: 12px;
                  margin-left: 25px;
                  color: red;
                ">
              Full Slot
            </p>
            <%}else{%>
              <p style="padding: 5px; margin: 5px;text-decoration: line-through; color: red;">
                <%= post[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
                  <%= post[i].time %>
              </p>
        </div>
        <p style="
              font-size: 1.6vw;
              font-weight: bold;
              margin-top: 12px;
              margin-left: 25px;
            ">
          <%= post[i].total_players - post[i].add_player %> Slot
        </p>
        <%}%>
          </div>
          <%}%>
            </div>
            </section>
            </div>
