<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="<%= csrfToken %>" name="_csrf">
    <title><%= title %></title>
    <link href="./css/dashboard.css" rel="stylesheet">
    <link href="./css/report.css" rel="stylesheet">
    <link href="./css/nav.css" rel="stylesheet">
    <link href="./css/sessions.css" rel="stylesheet">
</head>
<body>
<%- include("nav.ejs",{admin:admin,link:"report"}) %>
<%- include("notification.ejs") %>
<main>
    <h1>Here is the report, <span class="user"><%= user %></span></h1>
    <form class="date" method="get" action="/report">
        <div class="start">
            <label for="start">Start Date:</label>
            <input type="date" name="start" id="start" value="<%= date[0] %>">
        </div>
        <div class="end">
            <label for="end">End Date:</label>
            <input type="date" name="end" id="end" value="<%= date[1] %>">
        </div>
        <button class="submit">Submit</button>
    </form>
    <div class="numbers">
        <h2>Number of sports sessions occurred</h2>
        <div class="number-group">
            <% if(Object.keys(sessionCount).length === 0){ %>
                <p class="empty">No Sport</p>
            <% } else{ %>
                <% for(let i = 0;i < Object.keys(sessionCount).length;i++){ %>
                    <div class="number-item">
                        <p class="key"><%= Object.keys(sessionCount)[i] %></p>
                        <p class="value"><%= Object.values(sessionCount)[i] %></p>
                    </div>
            <% } } %>
        </div>
    </div>
    <%- include("session-template.ejs",{title:"Sessions Occured",session:sessions,displayPrompt:displayPrompt}) %>
</main>
</body>
</html>
