<% if (session.length === 0){ %>
    <div class="sessions">
        <h1><%= title %></h1>
        <div class="session">
            <h1 class="no-sessions">No sessions found</h1>
        </div>
    </div>
<% } else{ %>
    <div class="sessions">
        <h1><%= title %></h1>
        <% for(let i = 0;i < session.length;i++){ %>
            <div class="session">
                <div class="session-header">
                    <div class="session-part">
                        <span class="key"><%= session[i].sport %></span>
                        <span class="value">#<%= session[i].id %></span>
                    </div>
                    <div class="joined">
                        <% if(displayPrompt && session[i].joined){ %>
                            <span>Joined</span>
                        <% } %>
                    </div>
                    <% if(displayPrompt){ %>
                        <div class="status">
                            <% if(session[i].cancel){ %>
                                <p class="canceled">Cancelled</p>
                            <% }else if(new Date(session[i].date) < new Date()){ %>
                                <p class="completed">Completed</p>
                            <% }else{ %>
                                <p class="upcoming">Upcoming</p>
                            <% } %>
                        </div>
                    <% } %>
                    <a href="/sports/<%= session[i].sport %>/<%= session[i].id %>" class="view-session">View</a>
                </div>
                <div class="session-text">
                    <div class="session-part">
                        <span class="key">Location:</span>
                        <span class="value"><%= session[i].location %></span>
                    </div>
                    <div class="session-part">
                        <span class="key">Date:</span>
                        <span class="value"><%= new Date(session[i].date).toISOString().slice(0, 10) %></span>
                    </div>
                    <div class="session-part">
                        <span class="key">Time:</span>
                        <span class="value"><%= new Date(session[i].date).toISOString().slice(11, 16) %></span>
                    </div>
                    <div class="session-part">
                        <span class="key">Remaining:</span>
                        <% if(Number(session[i].remaining) === 0){ %>
                            <span class="full">Full</span>
                        <% }else{ %>
                            <span class="value"><%= session[i].remaining %></span>
                        <% } %>
                    </div>
                    <div class="session-part">
                        <span class="key">Created:</span>
                        <span class="value"><%= session[i].user %></span>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
<% } %>
