<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="<%= csrfToken %>" name="_csrf">
    <title><%= title %></title>
    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="../css/nav.css" rel="stylesheet">
    <link href="../css/sessions.css" rel="stylesheet">
</head>
<body>
<%- include("nav.ejs",{admin:admin,link:"sports"}) %>
<%- include("notification.ejs") %>
<main>
    <div class="breadcrumb">
        <ul>
            <li><a href="/sports">Sports</a></li>
            <li>/</li>
            <li><a href="#"><%= sport %></a></li>
        </ul>
    </div>
    <div class="intro">
        <h1><%= sport %></h1>
        <div class="buttons">
            <a href="/sports/<%= sport %>/new-session" class="new-session">New Session</a>
            <% if(admin){ %>
                <a href="/sports/<%= sport %>/edit-sport" class="edit-sport">Edit Sport</a>
            <% } %>
        </div>
    </div>
    <%- include("session-template.ejs",{title:"Upcoming sessions",session:newSessions,displayPrompt:displayPrompt}) %>
    <%- include("session-template.ejs",{title:"Old sessions",session:oldSessions,displayPrompt:displayPrompt}) %>
</main>
</body>
</html>
