<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="<%= csrfToken %>" name="_csrf">
    <title><%= title %></title>
    <link href="../../css/dashboard.css" rel="stylesheet">
    <link href="../../css/nav.css" rel="stylesheet">
    <link href="../../css/sessions.css" rel="stylesheet">
</head>
<body>
<%- include("nav.ejs",{admin:admin,link:"sports"}) %>
<%- include("notification.ejs") %>
<main>
    <div class="breadcrumb">
        <ul>
            <li><a href="/sports">Sports</a></li>
            <li>/</li>
            <li><a href="/sports/<%= session[0].sport %>"><%= session[0].sport %></a></li>
            <li>/</li>
            <li><a href="#">#<%= session[0].id %></a></li>
        </ul>
    </div>
    <div class="intro">
        <h1><%= session[0].sport %> #<%= session[0].id %></h1>
        <div class="buttons">
            <% if(session[0].date > new Date() && !session[0].joined && !session[0].cancel){ %>
                <a href="/sports/<%= session[0].sport %>/<%= session[0].id %>/join" class="join">Join
                    Session</a>
            <% } %>
            <a href="/sports/<%= session[0].sport %>" class="cancel">Cancel</a>
        </div>
    </div>
    <div class="session-description">
        <% if(session[0].cancel){ %>
            <span class="status-des red">Session Cancelled</span>
        <% }else if(session[0].date < new Date()){ %>
            <span class="status-des orange">Session Ended</span>
        <% }else if(session[0].joined){ %>
            <span class="status-des blue">Joined</span>
        <% }else if(session[0].date > new Date()){ %>
            <span class="status-des green">Open</span>
        <% } %>
    </div>
    <div class="session-info">
        <div class="info-text">
            <div class="info-part">
                <span class="info-key">Location:</span>
                <span class="info-value"><%= session[0].location %></span>
            </div>
            <div class="info-part">
                <span class="info-key">Date:</span>
                <span class="info-value"><%= new Date(session[0].date).toISOString().slice(0, 10) %></span>
            </div>
            <div class="info-part">
                <span class="info-key">Time:</span>
                <span class="info-value"><%= new Date(session[0].date).toISOString().slice(11, 16) %></span>
            </div>
            <div class="info-part">
                <span class="info-key">Remaining:</span>
                <% if(Number(session[0].remaining) === 0){ %>
                    <span class="full">Full</span>
                <% }else{ %>
                    <span class="info-value"><%= session[0].remaining %></span>
                <% } %>
            </div>
            <div class="info-part">
                <span class="info-key">Created:</span>
                <span class="info-value"><%= session[0].user %></span>
            </div>
        </div>
        <div class="info-members">
            <span class="info-key">Members</span>
            <div class="members">
                <% if(session[0].membersList.length === 0){ %>
                    <span class="no-members">No Members</span>
                <% }else{ %>
                    <% for(let i = 0;i < session[0].membersList.length;i++){ %>
                        <div class="member">
                            <% if(session[0].membersList[i].id === undefined){ %>
                                <div class="member-text">
                                    <span class="member-key">Name:</span>
                                    <span class="member-value"><%= session[0].membersList[i] %></span>
                                </div>
                                <div class="member-text">
                                    <span class="member-key">Added By:</span>
                                    <span class="member-value"><%= session[0].user %></span>
                                </div>
                            <% }else{ %>
                                <div class="member-text">
                                    <span class="member-key">ID:</span>
                                    <span class="member-value"><%= session[0].membersList[i].id %></span>
                                </div>
                                <div class="member-text">
                                    <span class="member-key">First Name:</span>
                                    <span class="member-value"><%= session[0].membersList[i].firstName %></span>
                                </div>
                                <div class="member-text">
                                    <span class="member-key">Last Name:</span>
                                    <span class="member-value"><%= session[0].membersList[i].lastName %></span>
                                </div>
                                <div class="member-text">
                                    <span class="member-key">email:</span>
                                    <span class="member-value"><%= session[0].membersList[i].email %></span>
                                </div>
                            <% } %>
                            <% if(!session[0].cancel && session[0].date > new Date()){ %>
                                <% if(session[0].userId === user && session[0].membersList[i].id === session[0].userId){ %>
                                    <div class="member-text">
                                        <a href="/sports/<%= session[0].sport %>/<%= session[0].id %>/<%= i %>/leave"
                                           class="leave">Leave Session</a>
                                    </div>
                                <% }else if(session[0].userId !== user && session[0].membersList[i].id === user){ %>
                                    <div class="member-text">
                                        <a href="/sports/<%= session[0].sport %>/<%= session[0].id %>/<%= i %>/leave"
                                           class="leave">Leave Session</a>
                                    </div>
                                <% }else if(session[0].userId === user){ %>
                                    <div class="member-text">
                                        <a href="/sports/<%= session[0].sport %>/<%= session[0].id %>/<%= i %>/leave"
                                           class="expel">Expel User</a>
                                    </div>
                            <% } } %>
                        </div>
                <% }} %>
            </div>
        </div>
        <% if(session[0].cancel){ %>
            <div class="cancellation">
                <span class="cancel-key">Reason:</span>
                <span class="cancel-value"><%= session[0].reason %></span>
            </div>
        <% } %>
    </div>
    <div class="button">
        <% if(session[0].userId === user && session[0].date > new Date() && !session[0].cancel ){ %>
            <a href="/sports/<%= session[0].sport %>/<%= session[0].id %>/edit-session" class="edit-session">Edit
                Session</a>
            <a href="/sports/<%= session[0].sport %>/<%= session[0].id %>/cancel-session" class="cancel-session">Cancel
                Session</a>
        <% } %>
    </div>
</main>
</body>
</html>
