<section>
  <div class="button" style="width: 100%;">
    <button class="my-4" id="createSportBtns" style="padding: 10px;margin-right: 67%;"
      onclick="window.location.href='/all_sports'">
      <- Back </button>
        <button class="my-8" id="createSportBtn" style="margin-right: 10%; "
          onclick="window.location.href='/input_session'">
          CREATE SESSION
        </button>
  </div>

  <p style="width: 97%" class="fw-bold h3 text-white my-4">
    Approaching Sessions for
    <span style="font-family: cursive; color: gold">
      <%= title %> #<%= data.length %>
    </span>
  </p>
  <%if(data.length==0){%>
    <h1 style="color: red; font-family: 'fantsy; font-weight: bold;">No sessions
      are added ,yet!</h1>
    <%}%>
      <div class="grid">
        <% for(var i=0; i < data.length; i++) { %>
          <div class="one" onclick="window.location.href='/session_des/:<%= data[i].id %>'">
            <div class="cardOne h4 fw-bold" style="
            display: flex;
            cursor: pointer;
            text-align: center;
            align-items: center;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          ">
              <% if(data[i].add_player==data[i].total_players-1){ %>
                <p style="padding: 5px; margin: 5px">
                  <%= data[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 18px;">@</span>
                    <%= data[i].time %>
                </p>
            </div>
            <p style="
                font-size: 1.5vw;
                font-weight: bold;
                margin-top: 11px;
                margin-left: 23px;
                color: red;
              ">
              Last Slot
            </p>
            <%} else if((data[i].total_players - data[i].add_player)==0){%>
              <p style="padding: 5px; margin: 5px">
                <%= data[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
                  <%= data[i].time %>
              </p>
          </div>
          <p style="
                font-size: 1.6vw;
                font-weight: bold;
                margin-top: 12px;
                margin-left: 25px;
                color: red;
              ">
            Full Slot
          </p>
          <%}else{%>
            <p style="padding: 5px; margin: 5px">
              <%= data[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
                <%= data[i].time %>
            </p>
      </div>
      <p style="
            font-size: 1.5vw;
            font-weight: bold;
            margin-top: 11px;
            margin-left: 23px;
          ">
        <%= data[i].total_players - data[i].add_player %> Slot
      </p>
      <%}%>
        </div>
        <%}%>
          </div>
          <p style="width: 97%; color: rgb(255, 9, 9)" class="fw-bold h3 my-4">
            Post Sessions for
            <span style="font-family: cursive; color: rgb(255, 255, 255)">
              <%= title %> #<%= post_session.length %>
            </span>
          </p>
          <div class="grid">
            <% for(var i=0; i < post_session.length; i++) { %>
              <div class="one" onclick="window.location.href='/session_des/:<%= post_session[i].id %>'">
                <div class="cardOne h4 fw-bold" style="
            display: flex;
            cursor: pointer;
            text-align: center;
            align-items: center;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          ">
                  <% if(post_session[i].add_player==post_session[i].total_players-1){ %>
                    <p style="padding: 5px; margin: 5px;text-decoration: line-through; color: red;">
                      <%= post_session[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
                        <%= post_session[i].time %>
                    </p>
                </div>
                <p style="
                font-size: 1.5vw;
                font-weight: bold;
                margin-top: 11px;
                margin-left: 23px;
                color: red;
              ">
                  Last Slot
                </p>
                <%} else if((post_session[i].total_players - post_session[i].add_player)==0){%>
                  <p style="padding: 5px; margin: 5px;text-decoration: line-through; color: red;">
                    <%= post_session[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
                      <%= post_session[i].time %>
                  </p>
              </div>
              <p style="
                font-size: 1.5vw;
                font-weight: bold;
                margin-top: 11px;
                margin-left: 23px;
                color: red;
              ">
                Full Slot
              </p>
              <%}else{%>
                <p style="padding: 5px; margin: 5px;text-decoration: line-through; color: red;">
                  <%= post_session[i].session_date %><span style="color:rgb(67, 67, 67); font-size: 19px;">@</span>
                    <%= post_session[i].time %>
                </p>
          </div>
          <p style="
            font-size: 1.5vw;
            font-weight: bold;
            margin-top: 11px;
            margin-left: 23px;
          ">
            <%= post_session[i].total_players - post_session[i].add_player %> Slot
          </p>
          <%}%>
            </div>
            <%}%>
              </div>
</section>
</div>
