<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="<%= csrfToken %>" name="_csrf">
    <title><%= title %></title>
    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="../css/sports.css" rel="stylesheet">
    <link href="../css/nav.css" rel="stylesheet">
</head>
<body>
<%- include("nav.ejs",{admin:admin,link:"sports"}) %>
<%- include("notification.ejs") %>
<main>
    <div class="intro">
        <h1>Sports</h1>
        <% if(admin){ %>
            <a href="/sports/new-sport" class="new-sport">New Sport</a>
        <% } %>
    </div>
    <div class="sports">
        <% if(sports.length === 0){ %>
            <h1 class="no-sports">No sports found</h1>
        <% }else{ %>
            <% for(let i = 0;i < sports.length;i++){ %>
                <a href="/sports/<%= sports[i].sport %>">
                    <div class="sport">
                        <h2><%= sports[i].sport %></h2>
                        <div class="detail">
                            <span class="key">Created:</span>
                            <span class="value"><%= sports[i].user %></span>
                        </div>
                    </div>
                </a>
        <% }} %>
    </div>
</main>
</body>
</html>
