<html class="no-js" lang="en">

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <style>
        body {
            width: 100%;
            height: 100vh;
            background: linear-gradient(120deg, #0d324d, #7f5a83);
            background-size: cover;
            background-position: center;
        }

        .container {
            max-width: 550px;
        }

        .has-error label,
        .has-error input,
        .has-error textarea {
            color: red;
            border-color: red;
        }

        .list-unstyled li {
            font-size: 13px;
            padding: 4px 0 0;
            color: red;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <h5 class="card-header text-center">Update Session For: <%=title %>
            </h5>
            <div class="card-body">
                <form action="/update_sessionvalues" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="existing_player_count" value="<%= existing_player %>">
                    <input type="hidden" name="olddes" value="<%= session_des %>">
                    <input type="hidden" name="olddate" value="<%= session_date %>">
                    <input type="hidden" name="oldtime" value="<%= session_time %>">
                    <input type="hidden" name="oldplayers" value="<%= session_players %>">
                    <input type="hidden" name="id" value="<%= id %>">

                    <h3>
                        <% if(messages && messages.error && messages.error.length> 0) { %>
                            <% for(var i=0; i<messages.error.length; i++) { %>
                                <p class="bg-red-200 my-3 list-none rounded px-4 py-2">
                                    <%= messages.error[i] %>
                                </p>
                                <% } %>
                                    <% } %>
                    </h3>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="match_desc" class="form-control" value='<%= session_des %>'
                            placeholder="des">
                        <!-- Error -->
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="date" class="form-control" name="match_date" value="<%= session_date %>"
                            placeholder="date">
                        <!-- Error -->
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>time</label>
                        <input type="text" name="match_time" class="form-control" placeholder="time"
                            value="<%= session_time %>">
                        <!-- Error -->
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label>player</label>
                        <div class="form-group">
                            <input type="number" data-minlength="4" class="form-control" min="<%= existing_player %>"
                                max="30" name="no_player" value="<%= session_players %>"
                                placeholder="how many player" />
                            <!-- Error -->
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Update Session</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-danger btn-block" onclick="window.location.href='/session_des/:<%= id %>'">Back</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
