<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Scheduler</title>

  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <style>
      body {
        width: 100%;
        height: 100vh;
        background: linear-gradient(120deg, #0d324d, #7f5a83);
        background-size: cover;
        background-position: center;
      }

      #sportsNav {
        display: inline-flex;
        color: white;
      }

      #sportsNav li {
        list-style: none;
        padding: 7px;
        margin-left: 18px;
        cursor: pointer;
      }

      #sportsNav li:hover {
        background-color: white;
        border-radius: 32px;
        color: black;
        font-weight: bold;
        transition: 0.7s;
      }

      #sportsNav li a {
        text-decoration: none;
      }

      .container {
        max-width: 550px;

      }

      .has-error input {
        color: red;
        border-color: red;
      }

      .list-unstyled li {
        font-size: 13px;
        padding: 4px 0 0;
        color: red;
      }
    </style>
  </head>

<body>
  <section style="width:100%; height:100vh;display: flex; justify-content: center; align-items: center;">

    <div class="container mt-5">
      <div class="card">
        <h5 class="card-header text-center">Edit Sports Name For:<span style="color: rgb(250, 19, 19);">
            <%=sports_name %>
          </span></h5>
        <div class="card-body">
          <form action="/update_sports" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="id" value="<%= id%>" />
            <input type="hidden" name="oldname" value="<%= sports_name%>" />
            <div class="form-group">
              <label>Sports Name!</label>
              <input type="text" class="form-control" id="inputName" name="sports_name" placeholder="Sports name"
                value="<%= sports_name %>">
              <!-- Error -->
              <div class="help-block with-errors" style="color: red;">
                <% if(messages && messages.error && messages.error.length> 0) { %>
                  <% for(var i=0; i<messages.error.length; i++) { %>
                    <p class="bg-red-200 my-3 list-none rounded px-4 py-2">
                      <%= messages.error[i] %>
                    </p>
                    <% } %>
                      <% } %>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Update</button>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-outline-danger btn-block" onclick="window.location.href='/all_sports'">Back</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
